[user]
    email = 2000ygkn0713@gmail.com
    name = Yugo Yagita

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
	quotepath = false

[color]
    ui = true

[alias]
    a = add
    st = status
    cm = commit
    cmm = commit -m
    co = checkout
    b = branch
    cb = checkout -b
    sm = submodule
    p = push
[push]
	default = simple
